extends layout

block content
  h1 PrancerJS
  p Dance with us!

  <form name="input">
    Username: <input type="text" id="user" name="user">
    <input id="name" type="submit" value="Submit">
  </form>
  script(src='/javascripts/getName.js)
  script(src='/javascripts/mobile.js)

